<ion-content class="body_bg">
<ion-grid>
  <ion-row>
    <ion-col size="12" class="text-center">
      <img src="assets/img/logo.png" class="main_image">
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="bottom_area pullUp">
  <ion-row>
    <ion-col size="12">
      <h1>i-track</h1>
      <small>i-track is a tool used by Shippers/Forwarders, that conveniently gives their Client(s) the ability to forward their shipment(s) from anywhere globally to the Shipper/Forwarder address and to track those shipment(s) via their mobile devices to its final destination.</small>
    </ion-col>
    <ion-col size="12">
      <ion-button expand="block" fill="outline" (click)="navigation('login');">LOGIN HERE</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button expand="block" fill="outline" (click)="navigation('signup');">CREATE A NEW ACCOUNT</ion-button>
    </ion-col>
    <ion-col size="12"><br/><br/></ion-col>
  </ion-row>
</ion-grid>
</ion-content>
