
.heading
{
  color: #fff;
  font-family: "Gotham-bold";
  font-weight: bold;
  font-size: 30px;
}
.normaltext
{
  font-size: 10px;
  color: #fff;
}

.box_icon
{
  font-size: 35px;
  margin-top: 50%;
}
