.smallicon {
  height: 70px;
  padding: 10px;
}
.usericon
{
  font-size: 50px;
  color: #fff;
  margin-top: 8px;
  margin-left: 10px;
}
.text_title
{
  margin-top: 25px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
