<div class="footer_box">
  <ion-segment class="footer_segment">
    <ion-segment-button class="footer_segment_button rightbar" (click)="menuNav('home');">
      <img src="assets/img/home_icon.png" class="footer_icon">
      <p class="footer_text">Home</p>
    </ion-segment-button>
    <ion-segment-button class="footer_segment_button rightbar" (click)="menuNav('shipment');">
      <img src="assets/img/track_icon.png" class="footer_icon">
      <p class="footer_text">Cargo Drop</p>
    </ion-segment-button>
    <ion-segment-button class="footer_segment_button rightbar" (click)="menuNav('orderview');">
      <img src="assets/img/location.png" class="footer_icon">
      <p class="footer_text">Track Shipment</p>
    </ion-segment-button>
    <ion-segment-button class="footer_segment_button" (click)="menuNav('orders');">
      <img src="assets/img/orders_icon.png" class="footer_icon">
      <p class="footer_text">My Shipments</p>
    </ion-segment-button>
  </ion-segment>
</div>
